<div class="container mx-auto mt-8">
  <h2 class="text-2xl font-bold mb-4">All Users</h2>
  <div *ngIf="users.length > 0; else noUsers">
    <div *ngFor="let user of users" class="mb-4 p-4 border rounded shadow-sm">
      <h3 class="text-xl font-bold text-indigo-600">{{ user.firstname }} {{ user.lastname }}</h3>
      <p class="text-gray-700">{{ user.email }}</p>
    </div>
  </div>
  <ng-template #noUsers>
    <p class="text-gray-700 mt-4">No users available.</p>
  </ng-template>
  <div *ngIf="errorMessage" class="text-red-500">
    {{ errorMessage }}
  </div>
</div>