<div class="container mx-auto mt-8">
  <div class="text-center mb-8">
    <h1 class="text-4xl font-bold text-indigo-600">Welcome to PostWave</h1>
    <p class="text-lg text-gray-700 mt-2">Your platform to share and discover amazing posts</p>
  </div>
  <div class="flex justify-end mb-4">
    <button
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      (click)="createPost()"
    >
      Create Post
    </button>
  </div>

  <div *ngIf="posts$ | async as posts else noPosts">
    <div *ngFor="let post of posts" class="mb-4 p-4 border rounded shadow-sm">
      <p class="text-sm text-gray-500">Posted by {{ post.user.firstname }}</p>
      <h2 class="text-2xl font-bold text-indigo-600">{{ post.title }}</h2>
      <p class="text-gray-700 mt-2">{{ post.description }}</p>
      <div class="mt-4">
        <button class="mr-2 bg-blue-500 text-white px-4 py-2 rounded">
          <i (click)="addLike(post.id, userId)" [class]="isLiked ? 'fas fa-heart text-red-500 mr-1' : 'far fa-heart mr-1'"></i> {{post.numberOfLikes}} Likes
        </button>
      </div>
      <div class="mt-4">
        <input type="text" [(ngModel)]="newComment" placeholder="Write a comment..." class="border rounded px-2 py-1 w-full">
        <button class="mt-2 bg-green-500 text-white px-4 py-2 rounded"(click)="addComment(post ,post.user)">Add Comment</button>
      </div>
      <!-- afficher les commentaires -->
      <div class="mt-4">
        <h3 class="text-xl font-bold mb-2">Comments</h3>
        <div *ngIf="post.comments.length > 0">
          <div *ngFor="let comment of post.comments" class="mb-2 p-2 border rounded shadow-sm">
            <p class="text-sm text-gray-500">Commented by {{ comment.author.firstname }}</p>
            <p class="text-gray-700">{{ comment.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noPosts>
    <p class="text-gray-700 mt-4">No posts available. Be the first to create a post!</p>
  </ng-template>  
</div>